.container {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(107.52deg, rgba(212, 0, 88, 0.8) 0%, rgba(0, 225, 231, 0.8) 128.32%);
}

.container h1 {
  font-size: 5rem;
  font-weight: 800;
  color:#fff;
  margin: 0;
}

.container h1 b {
  color:hsla(335, 100%, 48%, 1);
}

.signupButton {  
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: none;

  font-size: 22px;
  font-weight: 600;
  color: white;

  background-color: rgba(212, 0, 88, 0.8);
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
